.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    height: 100%;
  }

.mapandpilot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  aspect-ratio: 1/1;
}

.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    height: 100%;
    aspect-ratio: 1/1;
    background-image: url('../../public/coordinate-plane.svg');
    background-size: 50%;
    background-position: center;
}

.selectedpilot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 550px;
    border: 2px solid black;
    border-radius: 5px;
}

.selectedInformation-container {
    text-transform: uppercase;
        font-size: 13px;
        font-family: "Work Sans", sans-serif;
        font-weight: 500;
        letter-spacing: 0.8px;
        margin: 0;
}

.noPilotSelected-container {
    text-transform: uppercase;
        font-size: 13px;
        font-family: "Work Sans", sans-serif;
        font-weight: 50;
        letter-spacing: 0.8px;
        margin: 0;
}

.drone:hover {
    fill: red;
}

#drone-map {
    width: 100%;
    height: 100%;
}

#circle {
    fill: none;
    stroke: rgb(205, 100, 100);
    stroke-width: 2px;
}

#nest {
    fill: rgb(71, 145, 68);
}